:root{
    --fontsize-primary-h1:72px;
    --fontsize-h1:57px;
    --fontsize-p:27px;
    --line-height-p:32px;
    --margin-section-h1:15px;
}

html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}
nav{
    background-color: #3c3c3c;
    border-bottom-color: #fff;
    padding-bottom: 10px !important;
}
.navbar> .container-fluid .navbar-brand{
    text-decoration: none;
    margin-left: 20px;
    color: #F8F7F9;
}
.navbar> .container-fluid .navbar-nav .nav-item .nav-link{
    text-decoration: none;
    color: #F8F7F9;
}
.navbar {
    background-color: transparent !important;
}

.divider{
    width: 50%;
    margin: 0 auto;
}
#home > div > div > div > h1{
    font-size: var(--fontsize-primary-h1);
    color: #f2f2f2;
    font-family: serif;
    font-weight: bold;
}
#home > div > div > div > h2{
    font-size: 25px;
    color: #f2f2f2;
    font-family: serif;
    font-weight: bold;
}

#home > div > div > div > h3{
    color: #f2f2f2;
    font-family: serif;
}
#home > div > div > div > p{
    font-size: var(--fontsize-p);
    line-height: var(--line-height-p);
    color: #f2f2f2;
    font-family: serif;

}
#servicios{
    background-color: #f2f2f2;
}
#servicios > div > div > div > h1{
    font-size: var(--fontsize-h1);
    color: #333;
    font-family: serif;
    font-weight: bold;
    margin-left: var(--margin-section-h1);
}
#servicios > div > div > div > div > div > div > div > p{
    font-size: var(--fontsize-p);
    line-height: var(--line-height-p);
    color: #333;
    font-family: serif;
}
#servicios > div > div > div > img{
    object-fit: cover;
    
}
#nosotros > div > div > div > h1{
    font-size: var(--fontsize-h1);
    color: #333;
    font-family: serif;
    font-weight: bold;
    margin-left: var(--margin-section-h1);
}
#nosotros > div > div > div > p{
    font-size: var(--fontsize-p);
    line-height: var(--line-height-p);
    color: #333;
    font-family: serif;
    margin-left: 20px;
}
#contacto > div > div > div > h1{
    font-size: var(--fontsize-h1);
    color:#333;
    font-family: serif;
    font-weight: bold;
    margin-left: var(--margin-section-h1);
}
#contacto > div > div > div > div > div > div > span{
    font-family: serif;
    margin-left: 15px;
    font-family: "Sofia Sans";
    font-size: 28px;
}

#contacto > div > div > div > div > div{
    margin: 0px;
}
footer .col{
    height: 40px;
    color: #333;
}
header, section{
    padding-top: 60px;
}
#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/fo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
